.info-card {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.info-card:hover {
  transform: translateY(-8px) scale(1.02);
}

.icon {
  font-size: 70px;
  margin-bottom: 10px;
}

/* Animation */
.animate {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s forwards;
}

.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.6s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ---------------- navbar  */


.fade-nav {
  animation: slideDown 0.5s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #0d6efd;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* ------------------- */

.motion-heading{
  animation: pulseGlow 1.5s infinite;
}

@keyframes pulseGlow {
  0%{
    transform: scale(1);
    text-shadow: 0 0 20px #88fbff;
  }
  50%{
    transform: scale(1.05);
    text-shadow: 0 0 20px #2c78fb;
  }
  100%{
    transform: scale(1);
    text-shadow: 0 0 5px #7df269;
  }
}


/* --------------------- */


/* Page fade animation */
.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Heading slide */
.slide-down {
  animation: slideDown 0.6s ease-in-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Card hover */
.hover-card {
  transition: all 0.3s ease;
}

.hover-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}
